#--------------------------------------------------------------------------
#
# Configuration file for Allegro-Obsdeb :: Server Application
#
# project : SIH Allegro ObsDeb :: Server
# version : 1.4.4 for ${pom.env}
#
# Copyright Ifremer 2016
#
# 17/02/2016 BL  Creation
#--------------------------------------------------------------------------

# Base working directory, to store: zip files, caches, ...)
# By default (if commented) use '\$\{user.home\}/.adagio'
#  or the current directory (is launch using 'webapp.sh' and 'webapp.bat')
adagio.basedir=${user.home}/.adagio-synchro-server

# Max number of simultaneous jobs (import and export) running on the server - depending on server memory (see '-Xmx' JVM argument)
# (default value: 5)
#adagio.ui.synchro.maxPoolSize=5

# If Synchro service is not used (just for authentications), set to true
adagio.ui.synchro.service.lazy=false

# Base server URL
adagio.ui.baseUrl=@serverUrl@/

# Security type:
# - 'ldap' for LDAP
# - 'ad' for Active Directory
# - 'mock' (for user/psswd: demo/demo)
# (By default: 'mock')
adagio.ui.security.type=ldap
adagio.ui.security.ldap.baseDn=ou=annuaire,dc=ifremer,dc=fr
adagio.ui.security.ldap.url=ldap://localhost:389

# Minimum version allow for client connection (a version of Adagio-Core)
# (default value: allow only the server version)
#adagio.ui.synchro.minCompatibleVersion

# Data source type for the source database:
# - oracle
# - jndi
adagio.persistence.datasource.type=jndi

# If 'datasource.type' = 'jndi' :
adagio.persistence.jndi-name=java:comp/env/jdbc/adagio-ds

# If 'datasource.type' = 'oracle' :
adagio.ui.synchro.server.jdbc.url=@jdbcUrl@
adagio.ui.synchro.server.jdbc.username=@jdbcUsername@
adagio.ui.synchro.server.jdbc.password=@jdbcPassword@
adagio.ui.synchro.server.jdbc.schema=@jdbcUsername@
adagio.ui.synchro.server.jdbc.driver=oracle.jdbc.driver.OracleDriver
adagio.ui.synchro.server.hibernate.dialect=org.hibernate.spatial.dialect.oracle.OracleSpatial10gDialect

# Programs list (for importation data)
# (by default: all programs imported - depending on user access rights)
adagio.synchro.import.programs=SIH-OBSDEB,SIH-OPRDEB

# Transcribing types (for importation of transcribing items)
# 'by default: no transcribing items imported)
#adagio.synchro.import.transcribingTypeIds=
