
###################################################################
# database properties :
###################################################################

adagio.persistence.jdbc.username=@jdbcUsername@
adagio.persistence.jdbc.password=@jdbcPassword@
adagio.persistence.jdbc.catalog=${adagio.persistence.jdbc.username}
adagio.persistence.jdbc.schema=${adagio.persistence.jdbc.username}

adagio.persistence.jdbc.driver=oracle.jdbc.OracleDriver
adagio.persistence.jdbc.batch-size=40
adagio.persistence.jdbc.url=@jdbcUrl@
adagio.persistence.hibernate.dialect=org.hibernate.dialect.Oracle10gDialect

###################################################################
# Liquibase properties :
###################################################################
adagio.persistence.liquibase.changelog.path=file:./changelog/oracle/db-changelog-master.xml

