#Last saved Thu Feb 18 21:35:07 GST 2016
#Thu Feb 18 21:35:07 GST 2016
adagio.enumeration.ProgramCode.SIH=LocalVessel-MCS-SFA
adagio.persistence.checkConstants.enable=false
adagio.synchro.import.programs=SIH-OBSDEB,SIH-META-OBSDEB,SIH-OPRDEB
obsdeb.authentication.extranet.site.url=@serverUrl@/adagio-synchro-server
obsdeb.authentication.intranet.site.url=@serverUrl@/adagio-synchro-server
obsdeb.calendar.enable=false
obsdeb.catches.packet.enable=true
obsdeb.catches.taxonGroupDecorator.index=1
obsdeb.catches.wholeAndFreshByDefault.enable=true
obsdeb.country=SYC
obsdeb.department.recorder.default.id=1
obsdeb.effort.column.depthGradient.enable=false
obsdeb.effort.column.gearSize.enable=true
obsdeb.effort.column.gearDepth.enable=true
obsdeb.effort.column.operationNb.enable=false
obsdeb.effort.fastEdit.enable=true
obsdeb.effort.vesselFishingTime.isMandatory=false
obsdeb.expenses.bait.quantity.enable=true
obsdeb.expenses.default.fuelType=Gasoil
obsdeb.expenses.ice.quantity.enable=true
obsdeb.fishingTrip.currentForce.enable=true
obsdeb.fishingTrip.distanceToCoastGradient.isMandatory=false
obsdeb.fishingTrip.fishingArea.decoratorContext=onlyName
obsdeb.fishingTrip.fishingArea.isMandatory=false
obsdeb.fishingTrip.windForce.enable=true
obsdeb.i18n.locale=en
obsdeb.landings.aggregatedView.enable=false
obsdeb.landings.autoPredocumentation.declared.enable=false
obsdeb.landings.autoPredocumentation.enable=false
obsdeb.landings.column.vesselType.enable=true
obsdeb.landings.dateColumn.enable=false
obsdeb.landings.metierColumn.enable=false
obsdeb.landings.portStateColumn.enable=true
obsdeb.lastLocation.save.enable=true
obsdeb.locale.currency.unit=SR
obsdeb.location.hierarchySearch.enable=false
obsdeb.location.level.1=22
obsdeb.location.level.2=32
obsdeb.location.level.3=6
obsdeb.location.level.country=21
obsdeb.location.level.fishingArea.ids=7
obsdeb.location.level.registration=21
obsdeb.observedLocation.observers.addRecorder=false
obsdeb.organizationName=SFA
obsdeb.persistence.db.enumeration.path=classpath*\:adagio-db-enumerations.properties,classpath*\:obsdeb-db-enumerations.properties,classpath*\:obsdeb-db-sfa-enumerations.properties
obsdeb.phoneSurvey.enable=false
obsdeb.synchro.checkNotExportableData.enable=true
obsdeb.synchro.checkNotOldDirtyData.enable=false
obsdeb.synchronization.useServer=true
obsdeb.synchronization.site.url=@serverUrl@/adagio-synchro-server
obsdeb.synchronization.site.timeout=60000
obsdeb.tempVessel.exportList.enable=true
obsdeb.tempVessel.extendedProperties.enable=true
obsdeb.timezone=Asia/Muscat
obsdeb.ui.table.showCheckbox=false
obsdeb.update.application.url=@serverUrl@/updates/allegro-obsdeb/obsdeb-application.properties
obsdeb.update.data.url=@serverUrl@/updates/allegro-obsdeb/obsdeb-data.properties
obsdeb.install.db.url=${obsdeb.synchronization.site.url}/download/install/db.properties
obsdeb.vessel.column.basePortLocation.enable=true
obsdeb.vessel.column.code.enable=false
obsdeb.vessel.column.flagLocation.enable=false
obsdeb.vessel.column.registrationLocation.enable=false
obsdeb.vessel.decorator.index=1
obsdeb.vessel.registrationCode.prefix=SZ
obsdeb.vessel.registrationCode.priority.international.enable=false
obsdeb.vessel.type.ids=2,4,6,8,10,14,15,16,18,20,25,26
obsdeb.weeklyActivity.enable=true
