#--------------------------------------------------------------------------
#
# Configuration file for Allegro-Obsdeb :: Server Application
#
# project : SIH Allegro ObsDeb :: Server
# version : 1.4.4 for ${pom.env}
#
# Copyright Ifremer 2016
#
# 17/02/2016 BL  Creation
#--------------------------------------------------------------------------

# Base working directory, to store: zip files, caches, ...)
# By default (if commented) use '\$\{user.home\}/.adagio'
#  or the current directory (is launch using 'webapp.sh' and 'webapp.bat')
adagio.basedir=@homeDir@/.adagio-synchro-server

# Max number of simultaneous jobs (import and export) running on the server - depending on server memory (see '-Xmx' JVM argument)
# (default value: 5)
#adagio.ui.synchro.maxPoolSize=5

# If Synchro service is not used (just for authentications), set to true
adagio.ui.synchro.service.lazy=false

# Base server URL
adagio.ui.baseUrl=@serverUrl@/adagio-synchro-server/

# Security type:
# - 'ldap' for LDAP
# - 'ad' for Active Directory
# - 'mock' (for user/psswd: demo/demo)
# (By default: 'mock')
adagio.ui.security.type=ad
adagio.ui.security.ad.domain=sfa.sc
adagio.ui.security.ad.url=ldap://sfadc0.sfa.sc
adagio.ui.security.ad.baseDN=

# Minimum version allow for client connection (a version of Adagio-Core)
# (default value: allow only the server version)
#adagio.ui.synchro.minCompatibleVersion

# Data source type for the source database:
# - oracle
# - jndi
adagio.persistence.datasource.type=jndi

# If 'datasource.type' = 'jndi' :
adagio.persistence.jndi-name=java:comp/env/jdbc/adagio-ds

# If 'datasource.type' = 'oracle' :
adagio.ui.synchro.server.jdbc.url=@jdbcUrl@
adagio.ui.synchro.server.jdbc.username=@jdbcUsername@
adagio.ui.synchro.server.jdbc.password=@jdbcPassword@
adagio.ui.synchro.server.jdbc.schema=@jdbcUsername@
adagio.ui.synchro.server.jdbc.driver=oracle.jdbc.driver.OracleDriver
adagio.ui.synchro.server.hibernate.dialect=org.hibernate.spatial.dialect.oracle.OracleSpatial10gDialect

# Programs list (for importation vessel referential)
adagio.enumeration.ProgramCode.SIH=LocalVessel-MCS-SFA

# Programs list (for importation data)
# (by default: all programs imported - depending on user access rights)
adagio.synchro.import.programs=SIH-OBSDEB,SIH-META-OBSDEB,SIH-OPRDEB

# Transcribing types (for importation of transcribing items)
# 'by default: no transcribing items imported)
#adagio.synchro.import.transcribingTypeIds=

# LANDING2OBSERVER_PERSON removed (why ?????)
adagio.synchro.import.tables.data.includes=SCIENTIFIC_CRUISE,OBSERVED_LOCATION,OBSERVED_LOCATION2PERSON,DAILY_ACTIVITY_CALENDAR,FISHING_TRIP,SURVEY_MEASUREMENT,FISHING_TRIP2OBSERVER_PERSON, \
    FISHING_TRIP_ORIGIN,GEAR_PHYSICAL_FEATURES,GEAR_PHYSICAL_MEASUREMENT,LANDING,LANDING_MEASUREMENT,SALE,EXPECTED_SALE,SALE_MEASUREMENT,OPERATION,OPERATION_VESSEL_ASSOCIATION,PRODUCE,BATCH, \
    SAMPLE,VESSEL_USE_FEATURES,VESSEL_USE_MEASUREMENT,GEAR_USE_FEATURES,GEAR_USE_MEASUREMENT,VESSEL_PERSON_FEATURES,VESSEL_PERSON_FEATURES2ROLE,VESSEL_PERSON,VESSEL_POSITION,FISHING_AREA, \
    FISHING_AREA2REG_LOCATION,QUANTIFICATION_MEASUREMENT_P,SORTING_MEASUREMENT_P,QUANTIFICATION_MEASUREMENT,SORTING_MEASUREMENT,SAMPLE_MEASUREMENT,MEASUREMENT_FILE,PHOTO,DELETED_ITEM_HISTORY
