<?xml version="1.0" encoding="UTF-8"?>
<!--
  17/02/2016 BLA workaround for adagio-synchro-server 3.14.6
                 TODO: remove, when fixed
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd">

  <security:global-method-security
    secured-annotations="enabled">
    <security:protect-pointcut access="ROLE_USER,ROLE_ADMIN" expression="execution(* fr.ifremer.adagio.core.*.*(..))"/>
  </security:global-method-security>
 
  <security:http auto-config="true" >
    <security:intercept-url pattern="/" access="ROLE_USER,ROLE_SUPER_USER,ROLE_ADMIN"/>
    <security:intercept-url pattern="/*.css" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_SUPER_USER,ROLE_ADMIN" />
    <security:intercept-url pattern="/index.html" access="ROLE_USER,ROLE_SUPER_USER,ROLE_ADMIN"/>
    <security:intercept-url pattern="/home" access="ROLE_USER,ROLE_SUPER_USER,ROLE_ADMIN"/>
    <security:intercept-url pattern="/login" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_SUPER_USER,ROLE_ADMIN"/>
    <security:intercept-url pattern="/synchro" access="ROLE_USER,ROLE_SUPER_USER,ROLE_ADMIN"/>
    <security:intercept-url pattern="/rest" access="ROLE_USER,ROLE_SUPER_USER,ROLE_ADMIN"/>
    <security:intercept-url pattern="/jobs" access="ROLE_ADMIN,ROLE_SUPER_USER" />
    <security:intercept-url pattern="/admin" access="ROLE_ADMIN,ROLE_SUPER_USER" />
    <security:intercept-url pattern="/images/**" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_SUPER_USER,ROLE_ADMIN" />
    <security:intercept-url pattern="/wicket/**" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_SUPER_USER,ROLE_ADMIN" />
    <security:intercept-url pattern="/jquery/**" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_SUPER_USER,ROLE_ADMIN" />
    <security:intercept-url pattern="/**" access="ROLE_USER,ROLE_SUPER_USER,ROLE_ADMIN" />
    <!-- Allowed anonymous  -->
    <!--<security:anonymous granted-authority="ROLE_ANONYMOUS" username="anonymousUser"/>-->

    <!-- allow digect/basic authentication -->
    <security:http-basic />
    
  </security:http>

  <security:authentication-manager alias="authenticationManager">
    <security:authentication-provider ref="adAuthenticationProvider" />
  </security:authentication-manager>

  <bean id="adAuthenticationProvider"
              class="org.springframework.security.ldap.authentication.ad.ActiveDirectoryLdapAuthenticationProvider">
    <constructor-arg value="${adagio.ui.security.ad.domain}" />
    <constructor-arg value="${adagio.ui.security.ad.url}" />
    <property name="userDetailsContextMapper" ref="userDetailsContextMapper" />
    <property name="convertSubErrorCodesToExceptions" value="false" />	    
  </bean>

</beans>